html{
  font-size: 62.5%;
}
body{
  font-family: 'bilo', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #848484;
  background-color: #fff;
}
img{
  width: 100%;
  vertical-align: bottom;
}
a{
  text-decoration: none;
  color: #848484;
  letter-spacing: 0.1em;
  line-height: 23px;
  font-weight: lighter;
}
ul{
  list-style: none;
}
input{
  border: 0;
  outline: none;
  appearance: none;
  -webkit-appearance:none;
}
textarea{
  border: 0;
  outline: none;
  resize: none;
}
main-navgation a{
	color: #848484;
}
.wave{
	background:#000;
}

.blur{
	text-align: center;
	animation-name: blurAnime;
	animation-duration: 1.8s;
	animation-fill-mode: fowards;
	margin: 22% 10px 10px 10px;
}

/*========= レイアウトのためのCSS ===============*/

#wrapper p{
  padding:500px 0;
  text-align:center;
}

/*========= waveを描画するエリア設定 ===============*/

.wave{
  position: relative;
}

.wave canvas{
    position: fixed;
    display: block;
	top: 70%;
    bottom: 0;
 　　left:0;
    width: 100%;
	z-index: -1;
}

/*flex設定*/
.flex-rr{
  display: flex;
  justify-content: space-between;
}
/*flex設定*/

/*fotter*/

.infomation-text{
	font-size: 1.0rem;
    text-align: center;
	padding-top: 6%;
	margin: auto;
}

/*========= レイアウトのためのCSS ===============*/

#wrapper p{
  padding:500px 0;
  text-align:center;
}

/*========= waveを描画するエリア設定 ===============*/

.wave{
  position: relative;
}

.wave canvas{
    position: fixed;
    display: block;
	top: 67.57%;
    bottom: 0;
 　　left:0;
    width: 100%;
	z-index: -1;
}


@keyframes blurAnime{
	from{
		filter: blur(10px);
		transform: scale(1.02);
	}
	to{
		filter: blur(0);
		transform: scale(1);
	}
	
}

/* -----------------------------------------------------------------------------------------------スマホ版 */

@media screen and (max-width:428px){
/* -------------------------- */
/* sp-header
/* -------------------------- */
	
    .ciechan{
    position: absolute;
    display: block;
    top: -5%;
    left: 75%;
    transform: translate(-50%,-50%);
}
	.top-img{
	position: fixed;
	bottom: 3%;
	right: 0%;
	}



	
/*========= waveを描画するエリア設定 ===============*/

.wave{
  position: relative;
}

.wave canvas{
    position: fixed;
    display: block;
	top: 30%;
    bottom: 0;
 　　left:0;
    width: 100%;
	z-index: -1;
}
.infomation-text{
 display: none;
	margin: auto;
}

}


@media screen and (min-width: 650px){	
  .br-pc { display:block; }
  .br-sp { display:none; }
}
@media screen and (max-width: 375px){	
  .br-pc { display:none; }
  .br-sp { display:block; }
}

